*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

#container{
    height: 100%;
    width: 100%;
}

#top{
    width: 100%;
    height: 5rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top h1{
    font-size: 3rem;
}

#slider{
    position: relative;
}

#slide-images{
    display: flex;
    overflow-x: hidden;
    justify-content: center;
    gap: 2rem;
    height: 89vh;
}

.img{
    width: 100%;
    height: 100%;
    object-position: center;
}

button{
    position: absolute;
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.633);
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    transition: all .15s linear;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.701);
    color: black;
}

#left-btn{
    top: 45%;
    left: 10px;
}

#right-btn{
    right: 10px;
    top: 45%;
}


